body{
    background-color: rgb(63, 39, 245);
    background-image: url("Media/img/amlo.png");
    background-position: right top;
    background-repeat:repeat;
    background-attachment: scroll;
    


}